body{
    background-image: url("https://images.wallpaperscraft.com/image/stars_milky_way_space_116893_3840x2400.jpg")
}

h1{
    color: rgba(1, 167, 218, 0.527);
    
}

img{
    background-color: red;
}